<h1>Create a Meeting Schedule</h1>

<form action="#" method="post">
  <hr>
  <div>
      <label for="meeting_topic">Meeting Topic:</label>
      <input type="text" id="meeting_topic" name="meeting_topic" placeholder="Enter Meeting Topic" required>
  </div>
  <div>
      <label for="">Client Name:</label>
      <input type="text" id="client_name" name="client_name" placeholder="Enter Client Name" required>
  </div>
  <div>
      <label for="start_time">Start Time:</label>
      <input type="datetime-local" id="start_time" name="start_time" required>
  </div>
  <hr>

  <div class="button-container">
    <button type="submit">Create</button>
    <button type="button">Update</button>
    <button type="button">Delete</button>
    <button type="button">Show Clients</button>
  </div>
</form>
