<h1>Create a Client</h1>
    <h2>Please fill in this form to create a client</h2>


    <form action="#" method="post">
      <hr>
      <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter Name" required>
      </div>
      <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Enter Email" required>
      </div>
      <div>
          <label for="phone">Phone:</label>
          <input type="number" id="phone" name="phone" placeholder="Enter Phone" required>
      </div>
      <div>
          <label for="company">Company:</label>
          <input type="text" id="company" name="company" placeholder="Enter Company" required>
      </div>

      <hr>
      <button type="submit">Register</button>
  </form>
